 <div class="row">
    <div class="col-sm about-div">
      <h2>If you love reading, you are in the right place!</h2>
      <p>Track the books you are reading or the books you would like to read</p>
      <p>Share your favorite books with friends.</p>
      <p>Connect with other book lovers around the world on BookLovers.</p>
    </div>
    <div class="col-sm">
      <h1>Sign Up</h1>
      <p>It's free.</p>
      <form>
        <div class="row">
          <div class="col">
            <input type="text" class="form-control" placeholder="First name">
          </div>
          <div class="col">
            <input type="text" class="form-control" placeholder="Last name">
          </div>
        </div>

        <input type="email" class="form-control" placeholder="Email">

        <input type="password" class="form-control" placeholder="New password">

        Bithday:<br>
        <input type="date" placeholder="Birthday">

        <div class="form-row">
          <div class="form-check form-check-inline">
            <input type="radio" class="form-check-input" name="sex" value="Female" id="female" >
            <label for="female" class="form-check-label">Female</label>
          </div>

          <div class="form-check form-check-inline">
            <input type="radio" class="form-check-input" name="sex" value="Male" id="male" >
            <label for="male" class="form-check-label">Male</label>
          </div>
        </div>
        <input type="submit" value="Sign Up">
      </form>
    </div>
  </div>
