// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.about-div {
  margin-top: 100px;

  p {
    margin-top: 50px;
  }
}

.sign-up-form {
  margin-top: 70px;
}
